.book-list{
    border: 1px solid #a7a7a7;
    max-height: 300px;
    overflow-y: scroll;
    min-height: 120px;
    border-radius: 5px;
    background-color: #eeeeee;
}

.book-list__item {
    display: flex;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    overflow: hidden;
    font-family: Arial,sans-serif;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 3px;

}

.book-list__item:hover {
    background-color: #fcfcf6;
    color: #303030;
    font-weight: bold;
    border: 1px solid #aba5a5;
}


.book-list::-webkit-scrollbar {
    width:5px;
    background-color: #eaeaea;

}
.book-list::-webkit-scrollbar-thumb {
    background-color: #3c5eff;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #00a6ff;
}

.fa-trash-o{
    font-size: 80%;
    transition-duration: 0.1s;
}


.book-list__item:hover .controls-wrapper  {
    transform: translateX(-5px);
    transition-duration: 0.5s;
}
 .delete-contact:hover .fa-trash-o{
     font-size: 90%;
 }

.contact-name {
    align-self: center;
    vertical-align: middle;
    width: 20%;
    text-align: center;
}

.contact-number{
    width: 70%;
    text-align: center;
    align-self: center;

}

.delete-contact {
   /* align-self: center;*/

    background-color: #812c2c;

   /* transform: translateX(40px);*/
}

.delete-contact, .favorite-contact{
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 4px;
}

.favorite-contact{
    background-color: #594ddb;
    color: #fff500;
    font-size: 17px;
    transition-duration: 0.2s;
}

.favorite-contact:hover {
    background-color: #2e1edd;
    color: #fff500;
    font-size: 20px;
}

.controls-wrapper {
    transform: translateX(80px);

    display: flex;
    width: 80px;
    justify-content: space-between;
    padding-top: 2px;
}

.delete-contact:hover{
    background-color: #c80101;
}

.contacts-filter-item .active-tab {
    background-color: #fff;
}
